In [11]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [12]:
import os
import psycopg2
from dotenv import load_dotenv
from sqlalchemy import create_engine
load_dotenv()

True

In [13]:
conn = os.environ.get('CONNECTION_STRING')
conn

'postgresql://root:root@localhost/olist'

In [14]:
%sql {conn}

In [15]:
%%sql
SELECT *
FROM pg_catalog.pg_tables
WHERE schemaname != 'pg_catalog' AND 
    schemaname != 'information_schema';

 * postgresql://root:***@localhost/olist
9 rows affected.

[('public', 'tb_geolocation', 'root', None, False, False, False, False),
 ('public', 'tb_sellers', 'root', None, False, False, False, False),
 ('public', 'tb_order_payments', 'root', None, False, False, False, False),
 ('public', 'tb_orders', 'root', None, False, False, False, False),
 ('public', 'tb_order_items', 'root', None, False, False, False, False),
 ('public', 'tb_products', 'root', None, False, False, False, False),
 ('public', 'tb_product_category_name_translation', 'root', None, False, False, False, False),
 ('public', 'tb_customers', 'root', None, False, False, False, False),
 ('public', 'tb_order_reviews', 'root', None, False, False, False, False)]

## Tabelas de distribuição de frequência##

As tabelas de distribuição de frequência podem ser utilizadas para representar a frequência de ocorrências de um conjunto de registros de variáveis quantitativas ou qualitativas.

- No caso das variáveis qualitativas, a tabela representa a **frequência de ocorrências de cada categoria da variável**.
- No caso das variáveis quantitativas discretas, a frequência de ocorrências é calculada para cada valor discreto da variável.
- No caso das variáveis quantitativas contínuas, os dados são agrupados em classes e, a partir daí, são calculadas as frequências de ocorrências para cada classe.

Uma tabela de distribuição de frequências compõem os seguintes cálculos:

- **Frequência Absoluta** $F_i$: Número de ocorrências para cada elemento $i$ na amostra.
- **Frequência Relativa** ($Fr_i$): Percentual relativo à frequência absoluta.
- **Frequência Acumulada** ($F_ac$): Soma de todas as ocorrências até o elemento analizado.
- **Frequência Relativa Acumulada** ($Fr_ac$): Percentual relativo à frequência acumulada.

## Tabela de distribuição de frequências para variáveis qualitativas

In [21]:
%%sql 
select
    payment_type as "forma-de-pagamento"
    ,count(*) as "frequencia-abs"
    ,sum(count(*)) over (order by payment_type desc) as "frequencia-acc"
    ,round(cast(count(*) as decimal) / (select count(*) from tb_order_payments) * 100 , 2) as "frequencia-rel"
    ,round(sum(count(*)) over (order by payment_type desc) / (select count(*) from tb_order_payments) * 100, 2) as "frepencia-rel-acc"
from 
    tb_order_payments
group by 1;

 * postgresql://root:***@localhost/olist
5 rows affected.

[('voucher', 5775, Decimal('5775'), Decimal('5.56'), Decimal('5.56')),
 ('not_defined', 3, Decimal('5778'), Decimal('0.00'), Decimal('5.56')),
 ('debit_card', 1529, Decimal('7307'), Decimal('1.47'), Decimal('7.03')),
 ('credit_card', 76795, Decimal('84102'), Decimal('73.92'), Decimal('80.96')),
 ('boleto', 19784, Decimal('103886'), Decimal('19.04'), Decimal('100.00'))]